.timepicker {
  border-style: none;
  font-family: 'Homepage Baukasten-Book', sans-serif;
  background-color: #fff;
  border-style: none !important;
  text-align: center;
  font-size: 26px;
  line-height: 1.7;
}

.react-time-picker__wrapper {
  border-style: none !important;
  border-bottom: 1px solid #f9c947 !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
