.background-form {
  background-color: #fff !important;
  width: 100%;
}

.error {
  margin: 0;
  margin-top: -15px;
  /* padding-left: 26%; */
  color: red;
  text-align: left;
}

textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"],
.input-checkbox,
select {
  -webkit-appearance: none;
}

.input-box {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border;
}

select.input-box {
  width: 108.5%;
}

.input-container {
  width: 90%;
  height: 60px;
  margin-bottom: 8px;
  display: inline-block;
}

.deposit-tag {
  text-align: center;
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.154px;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Homepage Baukasten-Book';
}

.deposit-price {
  font-family: 'Homepage Baukasten-Bold';
  font-size: 18px;
  font-weight: 500;
}
