.App {
  width: 100%;
  height: 100%;
  /* background-color: #F7F8FC; */
  background-color: #000;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #F7F8FC; */
  background-color: #000;
  width: 100%;
  overflow-x: hidden;
}

.timing-container {
  display: flex;
  background-color: #fff;
  padding: 1% 2.5%;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
}

.timing-text {
  font-size: 18px;
  font-family: 'Homepage Baukasten-Book', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

.cta-text {
  margin-top: 12.5%;
  font-family: 'Homepage Baukasten-Bold', sans-serif;
  color: #f9c947;
}

.left-text {
  align-self: flex-start;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.form-box {
  width: 80%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.input-box {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  /* background-color: rgba(249, 201, 71, 0.5); */
  font-size: 18px;
  font-family: 'Homepage Baukasten-Book';
  color: #424770;
  letter-spacing: 0.025em;
  weight: bold;
}

.input-box::placeholder {
  color: #aab7c4;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
.input-box:last-of-type {
  margin-bottom: 15px;
}

.success-text {
  text-align: center;
  margin-top: 12px;
}

.submission-button {
  background-color: #f9c947;
  color: #fff;
  font-family: 'Homepage Baukasten-Book', sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 90%;
  border-radius: 25px;
  height: 60px;
  border-width: 0;
  margin-top: 12.5%;
  margin-bottom: 12.5%;

  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.25);
}

.description {
  border-radius: 10px;
  border: 5px solid rgba(249, 201, 71, 0.5);
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.total-tag {
  font-family: 'Homepage Baukasten-Book';
  margin-top: -5%;
  background-color: #fff;
  max-width: fit-content;
  padding: 0 5px;
}

.total-price {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -0.154px;
  /* text-shadow: 5px 5px 10px rgba(249, 201, 71, .25); */
  margin: 0;
  text-align: center;
  font-family: 'Homepage Baukasten-Bold';
}

.invalid {
  border: 1px solid #ff0000
}

@media only screen and (min-width: 600px) {
  .App {
    justify-content: flex-start;
  }

  .logo {
    width: 5%;
    margin-left: 25px;
    margin-top: 25px;
  }
}
