.App {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.main-content {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 49%;
  position: relative;
  overflow-x: hidden;
  z-index: 1;

  background-color: #000;
  box-shadow: 0px -3px 9px rgba(0,0,0,0.3);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timing-container {
  display: flex;
  background-color: #fff;
  padding: 2% 2.5%;
  justify-content: space-between;
  align-items: center;
  width: 85%;

  border-radius: 5px;

  z-index: 1;
}

.timing-text {
  font-size: 18px;
  font-family: 'Homepage Baukasten-Book', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;

  z-index: 1;
}

.cta-text {
  font-family: 'Homepage Baukasten-Bold', sans-serif;
  color: #fff;
  width: 88%;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin-top: 10%;
  margin-bottom: 4%;

  z-index: 1;
}

.top-text {
  text-align: center;
}

.thin-text {
  font-family: 'Homepage Baukasten-Book';
  /* color: #f9c947; */
  color: #215B8F;

  letter-spacing: 2px;
}

.ellipse {
  letter-spacing: 1px;
}

.form-box {
  width: 80%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.input-box {
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  /* background-color: rgba(249, 201, 71, 0.5); */
  font-size: 20px;
  font-family: 'Homepage Baukasten-Book';
  color: #424770;
  letter-spacing: 0.025em;
  weight: bold;
}

.input-box::placeholder {
  color: #aab7c4;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
.input-box:last-of-type {
  margin-bottom: 15px;
}

.result-container {
  padding: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-text {
  font-family: 'Homepage Baukasten-Bold';
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  text-align: center;
  line-height: 1.25;
}

.email-reminder {
  font-family: 'Homepage Baukasten-Book';
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}

.submission-button {
  background-color: #f9c947;
  color: #fff;
  font-family: 'Homepage Baukasten-Book', sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 90%;
  border-radius: 25px;
  height: 60px;
  border-width: 0;
  margin-top: 12.5%;
  margin-bottom: 12.5%;

  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.25);
}

.description {
  border-radius: 10px;
  border: 5px solid rgba(249, 201, 71, 0.5);
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.total-tag {
  font-family: 'Homepage Baukasten-Book';
  margin-top: -5%;
  background-color: #fff;
  max-width: fit-content;
  padding: 0 5px;
}

.total-price {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -0.154px;
  /* text-shadow: 5px 5px 10px rgba(249, 201, 71, .25); */
  margin: 0;
  text-align: center;
  font-family: 'Homepage Baukasten-Bold';
}

.invalid {
  border: 1px solid #ff0000;

  z-index: 1;
}

.info-title {
  letter-spacing: 2px;
  margin-top: 5%;
}

.info-container {
  width: 88%;
  border-radius: 5px;

  background-color: #fff;

  z-index: 1;
  position: relative;
}

.specs-container, .features-container, .team-container {
  padding: 5% 5% 0 5%;

  display: grid;
}

.specs-container {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5px;
}

.features-container, .team-container {
  grid-template-columns: 2fr 2fr;
  grid-gap: 5px;
}

.feature-box, .team-member-box {
  border-color: #ccc;
  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  min-height: 95px;
}

.team-member-box {
  min-height: 45px;
}

.info-divider {
  width: 50%;
  margin: 7.5% auto 2.5% auto;
}

.info-subtitle {
  font-size: 18px;
  font-family: 'Homepage Baukasten-Bold';
  font-weight: 400;
  grid-column: span 2 / auto;

  margin-top: 0;
}

.info-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 0;
}

.feature, .team-member {
  font-size: 14px;
}

.info-small {
  font-size: 10px;
}

.tip-text {
  /* text-align: center; */
  padding: 5% 5% 0 5%;
  font-style: italic;
  font-size: 14px;
  margin-top: 0;
}

.contact-text {
  font-size: 15px;
  padding: 5% 5% 0 5%;
}

.contact-text a {
  text-decoration: none;
  color: #f9c947;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.success-contact {
  color: #fff;
  margin-top: 40%;
}

.revitii {
  text-decoration: none;
  color: #000;
  font-size: 8px;
}

@media only screen and (min-width: 600px) {
  .App {
    justify-content: flex-start;
  }

  .logo {
    width: 5%;
    margin-left: 25px;
    margin-top: 25px;
  }
}
