.loadingspinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #000;
}

.loading-logo {
  width: 50%;
  margin-top: 30%;
}

.slogan-holder {
  margin-bottom: 20%;
}

.mini-slogan {
  color: #f9c947;
  font-size: 18px;
  font-family: 'Alex Brush', sans-serif;
  text-align: center;
  margin-bottom: 1px;
}

.large-slogan {
  color: #f9c947;
  font-size: 28px;
  text-align: center;
  font-family: 'Homepage Baukasten-Bold', sans-serif;
  margin-top: 0;
}
